<h1>About</h1>
<p>Hey there! I'm Francesco Bigozzi, and I built Random Music Generator to bring a bit of musical randomness into your life. This project is open-source, which means you can dive into the code, explore how it works, and even contribute if you're up for it! You can check out the project’s repository <a href="https://github.com/KinokoF/random-music-generator" target="_blank">here</a> and help make it even better.</p>
<p><b>What’s under the hood?</b></p>
<ul>
  <li><b>Angular</b> for the framework.</li>
  <li><b>Angular Material</b> for those slick UI components.</li>
  <li><b>Dexie.js</b> to handle local storage of your music creations.</li>
</ul>
<p><b>Shout-out to the libraries that make it all possible:</b></p>
<ul>
  <li><b>random</b> for generating random numbers.</li>
  <li><b>tonal</b> for scales, chords, and all things music theory.</li>
  <li><b>spessasynth_lib</b> for playing the MIDI files.</li>
  <li><b>JZZ</b> for creating MIDI files.</li>
  <li><b>FluidR3</b> for those sweet sound fonts.</li>
</ul>
<p>And a quick nod to <b>Three.js</b>, <b>Faker</b>, and <b>ng-web-apis</b> for their small but helpful contributions.</p>
<p>Feel free to reach out to me at <a href="mailto:kinokoeffe@outlook.com">kinokoeffe&#64;outlook.com</a> if you have any questions or ideas. Let's make something cool together!</p>
