<h1>Presets</h1>
<mat-form-field appearance="outline">
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<div class="table-container mat-elevation-z2">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let row"> {{row.date | date:'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{ row }">
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="use(row)"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="6">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</div>

<div style="text-align: center;">
  <button mat-stroked-button class="large-btn" style="margin-bottom: 20px;" (click)="import()">Import</button><br>
  <button mat-stroked-button class="large-btn" (click)="deleteAll()">Reset</button>
</div>

<mat-menu #appMenu="matMenu">
  <ng-template matMenuContent let-row="row">
    <button mat-menu-item (click)="rename(row)">Rename</button>
    <button mat-menu-item (click)="use(row)">Use as config</button>
    <button mat-menu-item (click)="export(row)">Export</button>
    <button mat-menu-item (click)="delete(row)">Delete</button>
  </ng-template>
</mat-menu>
