<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list (click)="eventuallyClose(drawer)">
      <a mat-list-item routerLink="home">Home</a>
      <a mat-list-item routerLink="generator">Generator</a>
      <a mat-list-item routerLink="songs">Songs</a>
      <a mat-list-item routerLink="presets">Presets</a>
      <a mat-list-item routerLink="compare">Compare</a>
      <a mat-list-item routerLink="about">About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span style="flex: 1;">Random Music Generator</span>
      <button mat-icon-button matTooltip="Config" routerLink="config">
        <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
