/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --player-height: 168px;
}

button.large-btn {
  width: 100%;
  max-width: 200px;
}

.transparent-dialog {
  --mdc-dialog-container-color: transparent;
}
