<h1>Home</h1>
<p><b>Welcome to Random Music Generator! 🎶</b></p>
<p>Unleash your creativity and let randomness take the wheel! With Random Music Generator, you can create unique, completely random music tracks in just a few clicks. Want to tweak things? Choose from our ready-made presets or set your own parameters for a more customized sound.</p>
<p><b>How it works:</b></p>
<ul>
  <li>Generate random music in MIDI format.</li>
  <li>Listen to your new creations directly in the app.</li>
  <li>Download your tracks as MIDI or WAV files.</li>
  <li>Save and export your custom parameters to share with friends or use later.</li>
  <li>Enjoy a simple but cool audio visualizer as you listen!</li>
</ul>
<p><b>Why you'll love it:</b></p>
<ul>
  <li>Easy to use and fun.</li>
  <li>Install it for offline use and create music anywhere, anytime.</li>
</ul>
<p style="margin-bottom: 20px;">Ready to make some tunes? Hit that generate button and see what happens!</p>
<div style="text-align: center;">
  <button mat-flat-button class="large-btn" routerLink="/generator">Go to Generator!</button>
</div>
