<h1>Home</h1>
<p>Welcome to <b>Random Music Generator</b>! 🎶</p>
<p>Ever wondered what music created entirely by chance sounds like? Well, now you can find out! Our app lets you generate completely random music using customizable parameters. Whether you're just looking to explore some musical chaos or you're a composer in need of fresh ideas, this tool is for you.</p>
<p>How does it work? Simply adjust the settings, hit the "Generate" button, and voilà! A random MIDI file is created on the spot. You can listen to it right here and even download it for your own use.</p>
<p style="margin-bottom: 20px;">Want to dive into the code? This is an open-source project, so feel free to check out the <a href="https://github.com/KinokoF/random-music-generator" target="_blank">repository</a> and contribute! 🎉</p>
<div style="text-align: center;">
  <button mat-flat-button class="large-btn" routerLink="/generator">Go to Generator!</button>
</div>
